openapi: 3.0.1
info:
  title: Chatwoot Agents Platform Agent Bots API
  description: 'Chatwoot is an open-source customer engagement suite with a shared inbox across email, live-chat, social, and messaging channels. This specification covers the three Chatwoot API surfaces: the Application API (/api/v1/accounts/{account_id}/...) for account-scoped agent, contact, and conversation management; the Client API (/public/api/v1/inboxes/...) for building custom end-user chat widgets; and the Platform API (/platform/api/v1/...) for super-admin control of a Chatwoot installation. Application and Platform requests authenticate with an `api_access_token` HTTP header; Client requests are scoped by an inbox identifier and a contact source/pubsub identifier.'
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    name: Chatwoot Developers
    url: https://developers.chatwoot.com
  license:
    name: MIT (core) with additional Chatwoot license terms for some features
    url: https://github.com/chatwoot/chatwoot/blob/develop/LICENSE
  version: '1.0'
servers:
- url: https://app.chatwoot.com
  description: Chatwoot Cloud. For self-hosted installations, substitute your own host.
security:
- userApiKey: []
tags:
- name: Platform Agent Bots
  description: Platform API - super-admin agent bot management.
paths:
  /platform/api/v1/agent_bots:
    get:
      operationId: listPlatformAgentBots
      tags:
      - Platform Agent Bots
      security:
      - platformAppApiKey: []
      summary: List agent bots.
      responses:
        '200':
          description: Array of agent bots.
    post:
      operationId: createPlatformAgentBot
      tags:
      - Platform Agent Bots
      security:
      - platformAppApiKey: []
      summary: Create an agent bot.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentBot'
      responses:
        '200':
          description: The created agent bot.
  /platform/api/v1/agent_bots/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getPlatformAgentBot
      tags:
      - Platform Agent Bots
      security:
      - platformAppApiKey: []
      summary: Get an agent bot by id.
      responses:
        '200':
          description: The agent bot.
    patch:
      operationId: updatePlatformAgentBot
      tags:
      - Platform Agent Bots
      security:
      - platformAppApiKey: []
      summary: Update an agent bot.
      responses:
        '200':
          description: The updated agent bot.
    delete:
      operationId: deletePlatformAgentBot
      tags:
      - Platform Agent Bots
      security:
      - platformAppApiKey: []
      summary: Delete an agent bot.
      responses:
        '200':
          description: Deleted.
components:
  schemas:
    AgentBot:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        outgoing_url:
          type: string
  securitySchemes:
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Application and Client access token passed in the `api_access_token` HTTP header. For the Application API this is an agent/user access token; Client API requests are additionally scoped by inbox and contact identifiers.
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Platform App access token passed in the `api_access_token` HTTP header. Created by a super-admin from the Chatwoot installation's Platform Apps area and required for all /platform/api/v1 endpoints.
