openapi: 3.0.1
info:
  title: Chatwoot Agents Platform Users API
  description: 'Chatwoot is an open-source customer engagement suite with a shared inbox across email, live-chat, social, and messaging channels. This specification covers the three Chatwoot API surfaces: the Application API (/api/v1/accounts/{account_id}/...) for account-scoped agent, contact, and conversation management; the Client API (/public/api/v1/inboxes/...) for building custom end-user chat widgets; and the Platform API (/platform/api/v1/...) for super-admin control of a Chatwoot installation. Application and Platform requests authenticate with an `api_access_token` HTTP header; Client requests are scoped by an inbox identifier and a contact source/pubsub identifier.'
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    name: Chatwoot Developers
    url: https://developers.chatwoot.com
  license:
    name: MIT (core) with additional Chatwoot license terms for some features
    url: https://github.com/chatwoot/chatwoot/blob/develop/LICENSE
  version: '1.0'
servers:
- url: https://app.chatwoot.com
  description: Chatwoot Cloud. For self-hosted installations, substitute your own host.
security:
- userApiKey: []
tags:
- name: Platform Users
  description: Platform API - super-admin user management.
paths:
  /platform/api/v1/users:
    post:
      operationId: createPlatformUser
      tags:
      - Platform Users
      security:
      - platformAppApiKey: []
      summary: Create a user on the installation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformUserCreate'
      responses:
        '200':
          description: The created user.
  /platform/api/v1/users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getPlatformUser
      tags:
      - Platform Users
      security:
      - platformAppApiKey: []
      summary: Get a user by id.
      responses:
        '200':
          description: The user.
    patch:
      operationId: updatePlatformUser
      tags:
      - Platform Users
      security:
      - platformAppApiKey: []
      summary: Update a user.
      responses:
        '200':
          description: The updated user.
    delete:
      operationId: deletePlatformUser
      tags:
      - Platform Users
      security:
      - platformAppApiKey: []
      summary: Delete a user.
      responses:
        '200':
          description: Deleted.
  /platform/api/v1/users/{id}/login:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getPlatformUserLoginLink
      tags:
      - Platform Users
      security:
      - platformAppApiKey: []
      summary: Get a single-sign-on login link for the user.
      responses:
        '200':
          description: An SSO login URL.
components:
  schemas:
    PlatformUserCreate:
      type: object
      required:
      - name
      - email
      - password
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
        custom_attributes:
          type: object
          additionalProperties: true
  securitySchemes:
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Application and Client access token passed in the `api_access_token` HTTP header. For the Application API this is an agent/user access token; Client API requests are additionally scoped by inbox and contact identifiers.
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Platform App access token passed in the `api_access_token` HTTP header. Created by a super-admin from the Chatwoot installation's Platform Apps area and required for all /platform/api/v1 endpoints.
